[Desktop Entry]
Name=Ledger Live
Exec=~/bin/ledger-live-desktop.AppImage --no-sandbox %u
Type=Application
Categories=Finance;
Terminal=false
MimeType=x-scheme-handler/ledgerlive;
